include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevronLeft')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevronRight')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по номеру или названию запчасти")
			button 
				+icon("search")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)

			h1!= t

mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin customAlert(icon, text)
	//- .custom-alert(role='alert')&attributes(attributes)
	//- 	+icon(`${icon}`)
	//- 	div!= text
	.alert.alert-success&attributes(attributes)
		+img(`img/svg/${icon}.svg`).img-svg-js
		!= text

mixin topAlert()
	+b.top-alert
		.container
			+customAlert('delivery', 'Осуществляем бесплатную бережную доставку в любой день недели при заказе').justify-content-center

mixin categoryItem(img, title, price)
	+b.categoryItem
		+e.wrap
			+img(`img/${img}`, 'bg')
			+e.btns
				+e.row.row
					.col-6.col-lg-12
						+e.btn.btn.btn-outline-white(href='#') Подробнее
					.col-6.col-lg-12
						+e.btn.btn.btn-primary(href='#') Сделать заказ
		+e.caption
			.h5!= title
			span!= price

mixin contactUs()
	+b.contact-us
		+e.head
			+e.wrap
				| +7 (495) 510-77-85
				+icon('chevronDown')
			+icon('call')
		+e.body
			+soc
				+item-sos('', 'tel:+74955107785').--tel
					+icon('call')
					span.d-none.d-lg-block Позвонить
					span.d-lg-none +7 (495) 510-77-85
				+item-sos()
					+img('img/svg/whatsapp.svg').img-svg-js
				+item-sos()
					+img('img/svg/viber.svg').img-svg-js
				+item-sos()
					+img('img/svg/telegram.svg').img-svg-js
			+e.address(href='#') 125481, г. Москва, ул. Фомичевой, д.&nbsp;16, корп.&nbsp;3, эт.&nbsp;1, пом.&nbsp;252, оф. 2к.
			+e.work Работаем без выходных<br>с 8:00 до 20:00
			+e.email(href='mailto:info@masterazoborov.ru') info@masterazoborov.ru
			+downloadRequisites

mixin downloadRequisites()
	a.requisites(href='#')
		+icon('attach')
		| Скачать реквизиты

mixin catalogDropdown()
	+b.catalog-dropdown.dropdown-body-js
		.row
			.col-xxl
				ul.catalog-dropdown__card-list
					mixin item(img, text)
						li
							+e.item(href="#")
								+img(`img/svg/sTypes-${img}.svg`).img-svg-js
								!= text
					+item(1, `Заборы из профнастила`)
					+item(6, `Заборы из профнастила`)
					+item(2, `Заборы из евроштакетника`)
					+item(7, `Заборы из евроштакетника`)
					+item(3, `Заборы сетки рабицы`)
					+item(8, `Заборы сетки рабицы`)
					+item(4, `Заборы из 3Д сетки`)
					+item(9, `Заборы из 3Д сетки`)
					+item(5, `Заборы из 3Д сетки`)
			+e.col-list.col-xxl-auto
				ul.catalog-dropdown__list
					li: a(href="#") Для дачи 
					li: a(href="#") Для коттеджей
					li: a(href="#") Для частного дома
					li: a(href="#") На винтовых сваях
					li: a(href="#") Откатные ворота
					li: a(href="#") Распашные ворота
					li: a(href="#") Каркас
					li: a(href="#") Пункт 1
					li: a(href="#") Пункт 2
					li: a(href="#") Пункт 3
					li: a(href="#") Пункт 4
					li: a(href="#") Пункт 5